@page "/AcompanhaTicket"


<Cabecalho imagem="false" />

@* <Cabecalho imagem="false"  botoes="Cabecalho.Botoes.Novo"/>

<Cabecalho imagem="false"  >
    <botoesrf>
        <p>Botoes rf</p>
    </botoesrf>
</Cabecalho> *@

<Acompanhapage />

<Rodape />

<Cookies />
@code {

    //[Parameter] public  string nome  { get; set; }



}